.spinner {
  animation: rotation 0.8s linear infinite;
  border: solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  height: 1em;
  width: 1em;

  @keyframes rotation {
    0% {
      transform: rotate();
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &--reverse {
    animation: rotation-revert 0.8s linear infinite;
    @keyframes rotation-revert {
      0% {
        transform: rotate();
      }

      100% {
        transform: rotate(-360deg);
      }
    }
  }
}

.alternative-spinner {
  animation: rotation 0.8s linear infinite;
  border: solid;

  border-radius: 100%;
  height: 1em;
  width: 1em;

  @keyframes rotation {
    0% {
      transform: rotate();
    }

    100% {
      transform: rotate(360deg);
    }
  }

  &--reverse {
    animation: rotation-revert 0.8s linear infinite;
    @keyframes rotation-revert {
      0% {
        transform: rotate();
      }

      100% {
        transform: rotate(-360deg);
      }
    }
  }
}

.audio-wave {
  display: flex;

  .bar {
    animation: scale-bar 0.8s linear infinite;
    background-color: black;
    border-radius: 10px;
    height: 20px;
    width: 5px;

    &:not(:first-child) {
      margin-left: 10px;
    }

    @keyframes scale-bar {
      0% {
        transform: scaleY(1);
      }

      25% {
        transform: scaleY(1.25);
      }

      50% {
        transform: scaleY(2);
      }

      75% {
        transform: scaleY(1.25);
      }

      100% {
        transform: scaleY(1);
      }
    }

    &:nth-child(1n) {
      animation-delay: 0.5s;
    }

    &:nth-child(2n) {
      animation-delay: 0.75s;
    }

    &:first-child,
    &:last-child {
      animation-delay: 0.33s;
    }
  }
}

.ellipsis-fall {
  display: flex;

  > div {
    display: flex;
    align-items: flex-end;

    .dot {
      margin-bottom: 2.5px;
      height: 5px;
      width: 5px;
      background-color: black;
      border-radius: 100%;
      margin-left: 5px;

      &:first-child {
        transform: scale(0);
        animation: scale 1s linear infinite;
      }

      &:not(:first-child) {
        transform: translateX(-10px);
        animation: scale 1s linear infinite;
      }

      &:last-child {
        animation: fall 1s linear infinite;
      }

      @keyframes scale {
        100% {
          transform: scale(1);
        }
      }

      @keyframes right {
        100% {
          transform: translateX(20px);
        }
      }

      @keyframes fall {
        100% {
          transform: translate(-10px, 50px);
          opacity: 0;
        }
      }
    }
  }
}

.ellipsis-run-off {
  display: flex;

  > div {
    display: flex;
    align-items: flex-end;

    .dot {
      margin-bottom: 2.5px;
      height: 5px;
      width: 5px;
      background-color: black;
      border-radius: 100%;
      margin-left: 5px;

      &:first-child {
        transform: scale(0);
        animation: scale 1s linear infinite;
      }

      &:not(:first-child) {
        transform: translateX(-10px);
        animation: scale 1s linear infinite;
      }

      &:last-child {
        animation: run 1s linear infinite;
      }

      @keyframes scale {
        100% {
          transform: scale(1);
        }
      }

      @keyframes right {
        100% {
          transform: translateX(20px);
        }
      }

      @keyframes run {
        0% {
          transform: translateX(-10px);
        }
        100% {
          transform: translateX(100px);
          opacity: 0;
        }
      }
    }
  }
}
