.app {
  padding: 50px;
  display: flex;
  flex-direction: column;

  max-width: 300px;
  margin: 0 auto;

  > div {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}
